<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web app</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>
<body>
<header>
    <nav th:replace="~{fragment/header-admin :: header}"></nav>
</header>
<div class="products-container">
    <h1 th:text="${userDetails.username}"></h1>
    <p><strong>Full name: </strong> <span th:text="${userDetails.fullName}"></span></p>
    <p><strong>Address: </strong> <span th:text="${userDetails.address}"></span></p>
    <p><strong>Email: </strong> <span th:text="${userDetails.email}"></span></p>
    <img th:src="@{{imageURL}(imageURL=${userDetails.profileImgURL})}" th:alt="${userDetails.profileImgURL}">
    <br>
    <a th:href="@{/admin/users}">Back</a>
</div>

</body>
</html>
