<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
  <title>Web app</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>
<body>
<nav class="navbar" th:fragment="header">
  <div class="navbar-left">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/products}">Products</a>
  </div>
  <div th:switch="${session.role}">
    <div th:case="'ADMIN'" class="navbar-right">
      <a th:href="@{/users}">Users</a>
      <a th:href="@{/logout}">Logout</a>
    </div>

    <div th:case="'USER'" class="navbar-right">
      <a th:href="@{/profile}">Profile</a>
      <a th:href="@{/logout}">Logout</a>
    </div>

    <div th:case="*" class="navbar-right">
      <a th:href="@{/register}">Register</a>
      <a th:href="@{/login}">Login</a>
    </div>
  </div>
</nav>

</body>
</html>